version: '3.8'

services:
  front-end:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=${VITE_API_URL:-http://localhost:3000}
    volumes:
      - .:/app
      - /app/node_modules
    stdin_open: true
    tty: true

